<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DarwinProxy</display-name>

  <!-- <context-param>
      <param-name>resteasy.scan</param-name>
      <param-value>true</param-value>
   </context-param> -->

   <!-- if you are using Spring, Seam or EJB as your component model, remove the ResourceMethodSecurityInterceptor -->
   <!-- <context-param>
      <param-name>resteasy.resource.method-interceptors</param-name>
      <param-value>
         org.jboss.resteasy.core.ResourceMethodSecurityInterceptor
      </param-value>
      </context-param>

   <listener>
      <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
   </listener>

   <servlet>
      <servlet-name>Resteasy</servlet-name>
      <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>Resteasy</servlet-name>
      <url-pattern>/cryptosocial/*</url-pattern>
   </servlet-mapping>-->
   
   <servlet>
   	<servlet-name>UsersMNG</servlet-name>
   	<servlet-class>it.uninsubria.dicom.cryptosocial.UsersManagement</servlet-class>
   	<load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
   	<servlet-name>UsersMNG</servlet-name>
   	<url-pattern>/user/*</url-pattern>
   </servlet-mapping>
   
   <servlet>
   	<servlet-name>ResourcesMNG</servlet-name>
   	<servlet-class>it.uninsubria.dicom.cryptosocial.ResourcesManagement</servlet-class>
   	<load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
   	<servlet-name>ResourcesMNG</servlet-name>
   	<url-pattern>/resources/*</url-pattern>
   </servlet-mapping>
   
   <welcome-file-list>
   	<welcome-file>test.html</welcome-file>
   </welcome-file-list>
</web-app>
